---
layout: default
title: Weniger CO₂ &#10031; Voller Genuss
tagline: Supporting tagline
---
{% include JB/setup %}


<div class="row eyecatcher">
	<div class="span12">
	
		<div id="myCarousel" class="carousel">
			
			 <!-- Carousel items -->
			<div class="carousel-inner" id="featured">
				<div class="active item">
					<img src="{{ ASSET_PATH }}/images/eyecatcher/markt622.jpg" class="bg" />
					<div class="carousel-caption">
						<h6>Hier gibt es klimafreundliche Ernährung für unsere Gesellschaft. (customer-VP1)</h6>
						<!--h1>Wir implementieren die Massnahmen das umzusetzen, was unsere Wissenschaft uns aufzeigt.</h1-->
						<br><a href="{{ BASE_PATH }}/about/" class="btn">Mehr Informationen</a>
					</div>
				</div>
				
				<div class="item">
					<img src="{{ ASSET_PATH }}/images/eyecatcher/waage622.jpg" class="bg" />
					<div class="carousel-caption">
						<h6>Wissenschaftliche Kontrolle für den besten Erfolg. (customer-VP5)</h6>
						<br><a href="{{ BASE_PATH }}/act/" class="btn">Mehr Informationen</a>
					</div>
				</div>
				
				<div class="item">
					<img src="{{ ASSET_PATH }}/images/eyecatcher/soup622.jpg" class="bg" />
					<div class="carousel-caption">
						<h6>Mit Genuss und gutem Geschmack. (customer-VP2)</h6>
						<br><a href="{{ BASE_PATH }}/recipes/" class="btn">Mehr Informationen</a>
					</div>
				</div>
				
				<div class="item">
					<img src="{{ ASSET_PATH }}/images/eyecatcher/meal622.jpg" class="bg" />
					<div class="carousel-caption">
						<h6>Zum Besten des eigenen Wohlbefindens. (customer-VP4)</h6>
						<br><a href="{{ BASE_PATH }}/act/" class="btn">Mehr Informationen</a>
					</div>
				</div>
				
				<div class="item">
					<img src="{{ ASSET_PATH }}/images/eyecatcher/tree622.jpg" class="bg" />
					<div class="carousel-caption">
						<h6>Geht man den Schritt, auch für unsere Umwelt. (customer-VP3)</h6>
						<br><a href="{{ BASE_PATH }}/act/" class="btn">Mehr Informationen</a>
					</div>
				</div>
				

				

				
			</div>
			<!-- Carousel nav -->
			 <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			 <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
			<!--a href="{{ BASE_PATH }}/#" id="prev" class="slider">&larr;</a>
			<a href="{{ BASE_PATH }}/#" id="next" class="slider">&rarr;</a-->
			
		</div>
	
	</div>
</div>	

<div class="well">
	<div class="row">
		<div class="span12 ">

			
			<div class="row">
				<div class="span6">
					<h3>Wir brauchen deine Unterstützung!</h3>
				<p>
				Über 880000 Tonnen CO2 werden in der Schweiz unnötigerweise ausgestossen. Unsere Welt wird zunehmendst bevölkert, und das Problem nicht kleiner. Würde alle Menschen ihren Ernährungstil dem unseren Angleichen bräuchte es 2.6 Planten. Eine untragbare Situation für alle Geschöpfe auf unserer Erde.</p>
		
				</div>
				<div class="span5 prominent">
					<p>
					Eaternity hat zum Ziel klimafreundliche Ernährung in der Gesellschaft zu etablieren und zu einer attraktiven, nachhaltigen und fairen Lösung beizutragen.</p>
			
					<a href="{{ BASE_PATH }}/act/" class="pull-right btn btn-inverse">Unterstütze Uns &rarr;</a>
				</div>
			</div>
		</div>
	</div>

</div>


<ul class="thumbnails top-info">
  <li class="span4">
		<a href="{{ BASE_PATH }}/about/facts" class="thumbnail"><img src="{{ ASSET_PATH }}/images/frontpage/relevance.jpg" />
		<h2>Relevanz &amp; Möglichkeiten.</h2></a>
  </li>
  <li class="span4">
		<a href="{{ BASE_PATH }}/about/eaternity" class="thumbnail"><img src="{{ ASSET_PATH }}/images/frontpage/vision.jpg" />
		<h2>Unsere Vision umsetzen.</h2></a>
  </li>
  <li class="span4">
		<a href="{{ BASE_PATH }}/about/recipes" class="thumbnail"><img src="{{ ASSET_PATH }}/images/frontpage/factors.jpg" />
		<h2>Wir suchen Entwickler.</h2></a>
  </li>
</ul>




<div class="row ">
	<div class="span12">
		<div class="well">
			<div class="row-fluid">
				<div class="span8">
				<a href="{{ BASE_PATH }}/blog/index.html"><h3>Blog</h3></a>
	
				{% for item in site.categories['blog'] limit:3 %}
					<span>{{ item.date | date_to_string }}</span>  &raquo; <a href="{{ BASE_PATH }}{{ item.url }}">{{ item.title }} &larr;</a><br />
			    {% endfor %}

				</div>
				<div class="span4">
					<div class="btn-group pull-right">
					<a target="_blank" href="https://www.facebook.com/eaternity" class="btn-mini  btn">Facebook</a><a target="_blank" href="https://twitter.com/eaternity" class="btn-mini  btn">Twitter</a><a target="_blank" href="https://plus.google.com//103258917793939014629" class="btn-mini btn">Google+</a></div>
				</div>
					
			</div>
		</div>
	</div>
	<!--div class="span6">
		<div class="blog">
			<a href="{{ BASE_PATH }}/blog/index.html"><h5>Twitter?</h5></a>
			<a href="{{ BASE_PATH }}/blog/blog-post.html">Aktuellster Tweet: Hier kannst du mehr darüber lesen &larr;</a>
		</div>
	</div-->
</div>


<div class="row">
	{% for item in site.categories['recipes'] reversed limit:2 %}
		<div class="span6 tapete">
			<div class="row-fluid">
					<div class="span5">
						<a href="{{ BASE_PATH }}{{ item.url }}" class="thumbnail recipe-frame">
							<img  src="{{ ASSET_PATH }}{{ item.image-thumb }}" />
						</a>
					</div>
					<div class="span7 recipe">
						<a href="{{ BASE_PATH }}{{ item.url }}">
							<h5>{{ item.type }}</h5>
							<h2>{{ item.title }}</h2>
						</a>
						<p>{{ item.content | strip_html | truncatewords: 22 }} 
						<a href="{{ BASE_PATH }}{{item.url}}">&nbsp;weiterlesen</a></p>
					</div>
		    
			</div>
		</div>
	{% endfor %}
</div>

<div class="row">
	<div class="span12">
		<hr>
		<ul class="thumbnails">
		{% for item in site.categories['recipes'] reversed offset:2 %}
			<a href="{{ BASE_PATH }}{{ item.url }}" class="thumbnail recipe-frame span1">
				<img  src="{{ ASSET_PATH }}{{ item.image-thumb }}" />
			</a>
		{% endfor %}
		<a href="{{ BASE_PATH }}/recipes/#kitchen2" class="pull-right btn span4">Weitere leckere Rezepte &larr;</a>
		</ul>
		
	</div>
</div>


<!--  
## Sample Posts

This blog contains sample posts which help stage pages and blog data.
When you don't need the samples anymore just delete the `_posts/core-samples` folder.

    $ rm -rf _posts/core-samples

Here's a sample "posts list".

<ul class="posts">
  {% for post in site.posts %}
    <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul-->


<script src="{{ ASSET_PATH }}/js/jquery.js"></script>
<script>
$('.carousel').carousel()
</script>
