---
layout: default
title: Weniger CO₂ &#10031; Voller Genuss
---

<div class="row eyecatcher">
	<div class="twelve columns">
	
		<div class="jumbotron homepage">
			<div class="row" id="featured">
				<div>
					<img src="{{site.baseurl}}/images/eyecatcher/herbstmarkt.jpg" class="bg" />
					<div class="content six columns centered">
						<blockquote>Wir etablieren klimafreundliche Ernährung in der Gesellschaft.<cite>Vision Eaternity</cite></blockquote>
						<!--h1>Wir implementieren die Massnahmen das umzusetzen, was unsere Wissenschaft uns aufzeigt.</h1-->
						<a href="{{site.baseurl}}/about/eaternity/" class="medium radius nice right white button">Mehr Informationen &larr;</a>
					</div>
				</div>
				
				<div>
					<img src="{{site.baseurl}}/images/eyecatcher/pumpkin-soup.jpg" class="bg" />
					<div class="content six columns centered">
						<h1>Mit Genuss zeigen wir auf wie sowas funktioniert.</h1>
						<a href="{{site.baseurl}}/recipes/" class="medium radius nice right white button">Mehr Informationen &larr;</a>
					</div>
				</div>
				
				<div>
					<img src="{{site.baseurl}}/images/eyecatcher/klimawaage.jpg" class="bg" />
					<div class="content six columns centered">
						<h1>Und man tut was Gutes für die Umwelt.</h1>
						<a href="{{site.baseurl}}/act/" class="medium radius nice right white button">Mehr Informationen &larr;</a>
					</div>
				</div>
				
				<div>
					<img src="{{site.baseurl}}/images/eyecatcher/pumpkin-soup2.jpg" class="bg" />
					<div class="content six columns centered">
						<h1>Man leistet einen attraktiven Beitrag für die Gesellschaft.</h1>
						<a href="{{site.baseurl}}/act/" class="medium radius nice right white button">Mehr Informationen &larr;</a>
					</div>
				</div>
			
			<!--a href="{{site.baseurl}}/#" id="prev" class="slider">&larr;</a>
			<a href="{{site.baseurl}}/#" id="next" class="slider">&rarr;</a-->
			</div>
		</div>
	
	</div>
</div>	

<div class="prominent">
	<div class="row">
		<div class="six columns">
			<h4>Wir brauchen deine Unterstützung!</h4>
		</div>
	</div>
	
	<div class="row">
	
		<div class="six columns">
		
			<h6>Über 880000 Tonnen CO2 werden in der Schweiz unnötigerweise ausgestossen. Unsere Welt wird zunehmendst bevölkert, und das Problem nicht kleiner. Würde alle Menschen ihren Ernährungstil dem unseren Angleichen bräuchte es 2.6 Planten. Eine untragbare Situation für alle Geschöpfe auf unserer Erde.</h6>
		
		</div>
		<div class="six columns">
		
			<p><h6>Eaternity hat zum Ziel klimafreundliche Ernährung in der Gesellschaft zu etablieren und zu einer attraktiven, nachhaltigen und fairen Lösung beizutragen.</h6></p>
			<a href="{{site.baseurl}}/act/" class="nice radius right black button">Unterstütze Uns &rarr;</a>
		</div>
	</div>
</div>
		
<div class="row">
	<div class="four columns">
		<h4><a href="{{site.baseurl}}/about/facts">Relevanz & Möglichkeiten.</a></h3>
		<a href="{{site.baseurl}}/about/facts"><img src="{{site.baseurl}}/images/frontpage/relevance.jpg" /></a>
		
	</div>
	<div class="four columns">
		<h4><a href="{{site.baseurl}}/about/eaternity">Unsere Vision.</a></h3>
		<a href="{{site.baseurl}}/about/eaternity"><img src="{{site.baseurl}}/images/frontpage/vision.jpg" /></a>
		
	</div>
	<div class="four columns">
		<h4><a href="{{site.baseurl}}/recipes/">Wir suchen Entwickler.</a></h3>
		<a href="{{site.baseurl}}/recipes/"><img src="{{site.baseurl}}/images/frontpage/factors.jpg" /></a>
		
	</div>
</div>



<div class="row">
	<div class="twelve columns">
		<div class="blog">
			<a href="{{site.baseurl}}/blog/index.html"><h5>Blog</h5></a>
			{% for item in site.categories['blog'] reversed limit:1 %}
				<span>{{ item.date | date_to_string }}</span>  &raquo; <a href="{{site.baseurl}}{{ item.url }}">{{ item.title }} &larr;</a>
		    {% endfor %}
				
				
				<div class="three right">
					<a href="{{site.baseurl}}/blog/blog-post.html">Twitter | Facebook | Google+</a>
				</div>
		</div>
	</div>
	<!--div class="six columns">
		<div class="blog">
			<a href="{{site.baseurl}}/blog/index.html"><h5>Twitter?</h5></a>
			<a href="{{site.baseurl}}/blog/blog-post.html">Aktuellster Tweet: Hier kannst du mehr darüber lesen &larr;</a>
		</div>
	</div-->
</div>



<div class="row">
	{% for item in site.categories['recipes'] reversed limit:2 %}
		<div class="six columns tapete">
			<div class="row">
			
			
					<div class="five columns">
						<a href="{{site.baseurl}}{{ item.url }}">
							<img src="{{site.baseurl}}{{ item.image-thumb }}" />
						</a>
					</div>
					<div class="seven columns recipe">
						<a href="{{site.baseurl}}{{ item.url }}">
							<h5>{{ item.type }}</h5>
							<h4>{{ item.title }}</h4>
						</a>
						<p>{{ item.content | strip_html | truncatewords: 22 }} 
						<a href="{{site.baseurl}}{{item.url}}">&nbsp;weiterlesen</a></p>
					</div>
		    
			</div>
		</div>
	{% endfor %}
</div>

<div class="row">
	<div class="twelve columns">
		<hr>
		<a href="{{site.baseurl}}/recipes/#nice2" class="medium radius nice right white button">Weitere leckere Rezepte &larr;</a>
		
	</div>
</div>


