---
layout: default
title: Earlybird Media Group
---

    <div class="content"></div>
    <div class="content"></div>
    <div class="content"></div>
    <div class="content"></div>
    <div class="content"></div>
    
    <div class="content"></div>
    
    <div id="c1" class="content" ctitle="Team" style="background-image: url(./images/coming-soon.jpg);">

		{% assign here = 'team' %}
		{% assign numOfItems = 4 %}
		
		{% include page.html %}
		
    </div>

    <div id="c2" class="content" ctitle="Earlybird" >
    	<div class="tool" style="background-color:#fff;"   >
			<div class="details" >
				<img src="./img/earlybird-logo-small.jpg" />	
			</div>
		</div>
    </div>
    <div id="c3" class="content" ctitle="Kontakt" >
    
		{% assign here = 'kontakt' %}
		{% assign numOfItems = 1 %}
		
		{% include page.html %}
		
    </div>
    
    <div class="content"></div>
    
    <div class="content"></div>
    
    <div id="c4" class="content" ctitle="Repertoire" >
	
    	{% assign here = 'themen' %}
		{% assign numOfItems = 1 %}
		
		{% include page.html %}
		
    </div>

    <div id="c5" class="content" ctitle="Referenzen">
	
		{% assign here = 'referenzen' %}
		{% assign numOfItems = 2 %}
		
		{% include page.html %}
		
    </div>
    
    <div id="c6" class="content" ctitle="Filme" >

		{% assign here = 'filme' %}
		{% assign numOfItems = 2 %}
		
		{% include page.html %}

   </div>
    
    <div class="content"></div>
    
    <div class="content"></div>



    <div class="content"></div>
    <div class="content"></div>
    <div class="content"></div>
    <div class="content"></div>

