<div id="donateModal" class="reveal-modal">
  <h3>Vielen Dank für die Unterstützung!</h3>
  <p>Eaternity schätzt Ihre Ünterstützung und Partnerschaft. Wenn Sie eine Spende per Post oder Banküberweisung aufgeben wollen, besuchen sie bitte unsere <a href="/eaternity-website/about/donation">Spenden Seite</a> für mehr Informationen.</p>
  <hr>
	<dl class="tabs">
		<dd><a href="#donation1" class="active"><img src="/eaternity-website/images/assets/icon-donation1.png"></a></dd>
	  	<dd><a href="#donation2"><img src="/eaternity-website/images/assets/icon-donation2.png"></a></dd>
	  	<dd><a href="#donation3"><img src="/eaternity-website/images/assets/icon-donation3.png"></a></dd>
	  	<dd><a href="#donation4"><img src="/eaternity-website/images/assets/icon-donation4.png"></a></dd>
	  	<dd><a href="#donation5"><img src="/eaternity-website/images/assets/icon-donation5.png"></a></dd>
	  	<dd><a href="#donation6"><img src="/eaternity-website/images/assets/icon-donation6.png"></a></dd>
	</dl>
	
	<ul class="tabs-content">
		<li class="active" id="donation1Tab">
			<div class="four columns">
			<h1>$50</h1>
			</div>
			<p>Your support can pay for a gas card for families to attend therapy and visit their children.</p><br>
			<form action="https://checkout.google.com/api/checkout/v2/checkoutForm/Merchant/107487633827195" id="BB_BuyButtonForm" method="post" name="BB_BuyButtonForm" target="_top">
			    <input name="item_name_1" type="hidden" value="$50 Donation">
			    <input name="item_description_1" type="hidden" value="">
			    <input name="item_quantity_1" type="hidden" value="1">
			    <input name="item_price_1" type="hidden" value="50.0">
			    <input name="item_currency_1" type="hidden" value="USD">
			    <input name="_charset_" type="hidden" value="utf-8">
			    <button type="submit" class="medium black right button nice radius">Jetzt Spenden</button>
			</form>
		</li>
		<li id="donation2Tab">
			<div class="four columns">
			<h1>$100</h1>
			</div>
			<p>Your support can pay a bus pass or a week of groceries for a struggling family.</p><br>
			<form action="https://checkout.google.com/api/checkout/v2/checkoutForm/Merchant/107487633827195" id="BB_BuyButtonForm" method="post" name="BB_BuyButtonForm" target="_top">
			    <input name="item_name_1" type="hidden" value="$100 Donation">
			    <input name="item_description_1" type="hidden" value="">
			    <input name="item_quantity_1" type="hidden" value="1">
			    <input name="item_price_1" type="hidden" value="100.0">
			    <input name="item_currency_1" type="hidden" value="USD">
			    <input name="_charset_" type="hidden" value="utf-8">
			    <button type="submit" class="medium black right button nice radius">Jetzt Spenden</button>
			</form>
		</li>
		<li id="donation3Tab">
			<div class="four columns">
			<h1>$250</h1>
			</div>
			<p>Your support can pay for a new set of clothes, a sports scholarship, or summer school at community college.</p><br>
			<form action="https://checkout.google.com/api/checkout/v2/checkoutForm/Merchant/107487633827195" id="BB_BuyButtonForm" method="post" name="BB_BuyButtonForm" target="_top">
			    <input name="item_name_1" type="hidden" value="$250 Donation">
			    <input name="item_description_1" type="hidden" value="">
			    <input name="item_quantity_1" type="hidden" value="1">
			    <input name="item_price_1" type="hidden" value="250.0">
			    <input name="item_currency_1" type="hidden" value="USD">
			    <input name="_charset_" type="hidden" value="utf-8">
			    <button type="submit" class="medium black right button nice radius">Jetzt Spenden</button>
			</form>
		</li>
		<li id="donation4Tab">
			<div class="four columns">
			<h1>$500</h1>
			</div>
			<p>Your support can pay for a semester of lessons or science camp.</p><br>
			<form action="https://checkout.google.com/api/checkout/v2/checkoutForm/Merchant/107487633827195" id="BB_BuyButtonForm" method="post" name="BB_BuyButtonForm" target="_top">
			    <input name="item_name_1" type="hidden" value="$500 Donation">
			    <input name="item_description_1" type="hidden" value="">
			    <input name="item_quantity_1" type="hidden" value="1">
			    <input name="item_price_1" type="hidden" value="500.0">
			    <input name="item_currency_1" type="hidden" value="USD">
			    <input name="_charset_" type="hidden" value="utf-8">
			    <button type="submit" class="medium black right button nice radius">Jetzt Spenden</button>
			</form>
		</li>
		<li id="donation5Tab">
			<div class="four columns">
			<h1>$1000</h1>
			</div>
			<p>Your support can pay for the first year of college supplies, a deposit on a first apartment, or an out-of-state sibling of family visit.</p><br>
			<form action="https://checkout.google.com/api/checkout/v2/checkoutForm/Merchant/107487633827195" id="BB_BuyButtonForm" method="post" name="BB_BuyButtonForm" target="_top">
			    <input name="item_name_1" type="hidden" value="$1000 Donation">
			    <input name="item_description_1" type="hidden" value="">
			    <input name="item_quantity_1" type="hidden" value="1">
			    <input name="item_price_1" type="hidden" value="1000.0">
			    <input name="item_currency_1" type="hidden" value="USD">
			    <input name="_charset_" type="hidden" value="utf-8">
			    <button type="submit" class="medium black right button nice radius">Jetzt Spenden</button>
			</form>
		</li>
		<li id="donation6Tab">
			<p><strong>Grand Benefactor Level</strong> For gifts larger than $1,000, please contact us directly so we can work with you to maximize the impact of your generosity.</p>
			<a href="mailto:donation@eaternity.ch" class="medium red right button nice radius">Kontaktiere Uns</a>
		</li>
	</ul>
     <a class="close-reveal-modal">×</a>
</div>