
	{% for item in site.categories[page.folder] reversed limit:numOfItems %}
<div class="row">
	

	<div class="three columns">

		<img src="{{site.baseurl}}{{ item.image-thumb }}" />
	</div>
	
	<div class="six columns">
		<div>
			<h5><a href="{{site.baseurl}}{{item.url}}">{{item.title}}</a></h5>
			<!--small>2:18AM by Melissa</small-->
			
		
			{{ item.content | strip_html | truncatewords: 38 }} 
			<a href="{{site.baseurl}}{{item.url}}">&nbsp;weiterlesen</a>
			
		</div>
		
	</div>
	
	<div class="three columns">
		{% assign value = item.co2-value %}
		{% include co2-label.html %}
		<div class="right">Saison: {{ item.season }}</div>
	</div>
	
	<hr />	

	
</div>	

	{% endfor %}