<div id="DonateModal" class="modal fade">
 <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Vielen Dank für die Unterstützung!</h3>
  </div>
  <div class="modal-body tabbable">
  <p>Eaternity schätzt Ihre Ünterstützung und Partnerschaft. Wenn Sie eine Spende per Post oder Banküberweisung aufgeben wollen, besuchen sie bitte unsere <a href="{{ BASE_PATH }}/infos/#spenden">Spenden Seite</a> für mehr Informationen.</p>
	<ul class="nav nav-tabs ">
		<li><a href="#donation1" data-toggle="tab" class="active"><img src="{{ ASSET_PATH }}/images/assets/icon-donation1.png"></a></li>
	  	<li><a href="#donation2" data-toggle="tab"><img src="{{ ASSET_PATH }}/images/assets/icon-donation2.png"></a></li>
	  	<li><a href="#donation3" data-toggle="tab"><img src="{{ ASSET_PATH }}/images/assets/icon-donation3.png"></a></li>
	  	<li><a href="#donation4" data-toggle="tab"><img src="{{ ASSET_PATH }}/images/assets/icon-donation4.png"></a></li>
	  	<li><a href="#donation5" data-toggle="tab"><img src="{{ ASSET_PATH }}/images/assets/icon-donation5.png"></a></li>
	  	<li><a href="#donation6" data-toggle="tab"><img src="{{ ASSET_PATH }}/images/assets/icon-donation6.png"></a></li>
	</ul>
	
	<div class="tab-content">
		<div class="tab-pane active" id="donation1">
			<div class="four columns">
			<h1>$50</h1>
			</div>
			<p>Your support can pay for a gas card for families to attend therapy and visit their children.</p><br>
			<form action="https://checkout.google.com/api/checkout/v2/checkoutForm/Merchant/107487633827195" id="BB_BuyButtonForm" method="post" name="BB_BuyButtonForm" target="_top">
			    <input name="item_name_1" type="hidden" value="$50 Donation">
			    <input name="item_description_1" type="hidden" value="">
			    <input name="item_quantity_1" type="hidden" value="1">
			    <input name="item_price_1" type="hidden" value="50.0">
			    <input name="item_currency_1" type="hidden" value="USD">
			    <input name="_charset_" type="hidden" value="utf-8">
			    <button type="submit" class="btn-small btn btn-inverse pull-right">Jetzt Spenden</button>
			</form>
		</div>
		<div id="donation2" class="tab-pane">
			<div class="four columns">
			<h1>$100</h1>
			</div>
			<p>Your support can pay a bus pass or a week of groceries for a struggling family.</p><br>
			<form action="https://checkout.google.com/api/checkout/v2/checkoutForm/Merchant/107487633827195" id="BB_BuyButtonForm" method="post" name="BB_BuyButtonForm" target="_top">
			    <input name="item_name_1" type="hidden" value="$100 Donation">
			    <input name="item_description_1" type="hidden" value="">
			    <input name="item_quantity_1" type="hidden" value="1">
			    <input name="item_price_1" type="hidden" value="100.0">
			    <input name="item_currency_1" type="hidden" value="USD">
			    <input name="_charset_" type="hidden" value="utf-8">
			    <button type="submit" class="btn-small btn btn-inverse pull-right">Jetzt Spenden</button>
			</form>
		</div>
		<div id="donation3" class="tab-pane">
			<div class="four columns">
			<h1>$250</h1>
			</div>
			<p>Your support can pay for a new set of clothes, a sports scholarship, or summer school at community college.</p><br>
			<form action="https://checkout.google.com/api/checkout/v2/checkoutForm/Merchant/107487633827195" id="BB_BuyButtonForm" method="post" name="BB_BuyButtonForm" target="_top">
			    <input name="item_name_1" type="hidden" value="$250 Donation">
			    <input name="item_description_1" type="hidden" value="">
			    <input name="item_quantity_1" type="hidden" value="1">
			    <input name="item_price_1" type="hidden" value="250.0">
			    <input name="item_currency_1" type="hidden" value="USD">
			    <input name="_charset_" type="hidden" value="utf-8">
			    <button type="submit" class="btn-small btn btn-inverse pull-right">Jetzt Spenden</button>
			</form>
		</div>
		<div id="donation4" class="tab-pane">
			<div class="four columns">
			<h1>$500</h1>
			</div>
			<p>Your support can pay for a semester of lessons or science camp.</p><br>
			<form action="https://checkout.google.com/api/checkout/v2/checkoutForm/Merchant/107487633827195" id="BB_BuyButtonForm" method="post" name="BB_BuyButtonForm" target="_top">
			    <input name="item_name_1" type="hidden" value="$500 Donation">
			    <input name="item_description_1" type="hidden" value="">
			    <input name="item_quantity_1" type="hidden" value="1">
			    <input name="item_price_1" type="hidden" value="500.0">
			    <input name="item_currency_1" type="hidden" value="USD">
			    <input name="_charset_" type="hidden" value="utf-8">
			    <button type="submit" class="btn-small btn btn-inverse pull-right">Jetzt Spenden</button>
			</form>
		</div>
		<div id="donation5" class="tab-pane">
			<div class="four columns">
			<h1>$1000</h1>
			</div>
			<p>Your support can pay for the first year of college supplies, a deposit on a first apartment, or an out-of-state sibling of family visit.</p><br>
			<form action="https://checkout.google.com/api/checkout/v2/checkoutForm/Merchant/107487633827195" id="BB_BuyButtonForm" method="post" name="BB_BuyButtonForm" target="_top">
			    <input name="item_name_1" type="hidden" value="$1000 Donation">
			    <input name="item_description_1" type="hidden" value="">
			    <input name="item_quantity_1" type="hidden" value="1">
			    <input name="item_price_1" type="hidden" value="1000.0">
			    <input name="item_currency_1" type="hidden" value="USD">
			    <input name="_charset_" type="hidden" value="utf-8">
			    <button type="submit" class="btn-small btn btn-inverse pull-right">Jetzt Spenden</button>
			</form>
		</div>
		<div id="donation6" class="tab-pane">
			<p><strong>Grand Benefactor Level</strong> For gifts larger than $1,000, please contact us directly so we can work with you to maximize the impact of your generosity.</p>
			<a href="mailto:donation@eaternity.ch" class="btn-small btn-danger btn pull-right">Kontaktiere Uns</a>
		</div>
	</div>
  </div>
  <!--div class="modal-footer">
    <a href="#" class="btn">Close</a>
    <a href="#" class="btn btn-primary">Save changes</a>
  </div-->
</div>