
	{% for item in site.categories[page.folder] limit:numOfItems %}
<div class="row-fluid">
	

	<div class="span3">

		<img style="border: 6px solid white;" src="{{ ASSET_PATH }}{{ item.image-thumb }}" />
	</div>
	
	<div class="span6 right-line">
		<div style="padding-left:20px;">
			<a href="{{ BASE_PATH }}{{item.url}}"><h3>{{item.title}}</h3></a>
			<div class="recipe-info"><img class="about" src="{{ ASSET_PATH }}/images/icons/calendar.png" /><small>{{ item.date | date_to_string }}</small><img class="about" src="{{ ASSET_PATH }}/images/icons/author.png" /><small>{{ item.author }}</small></div>
			
			<h4>Zubereitung</h4>
			<p>{{ item.content | strip_html | truncatewords: 24 }}</p>
			<a href="{{ BASE_PATH }}{{item.url}}" class="pull-right btn btn-inverse btn-small">zum Rezept</a>
			
		</div>
		
	</div>
	
	<div class="span2">
		<div class="label-recipe">
			<h3>{{ item.co2-value }} g </h3>CO2-Äquivalent pro Person.<br><br>
		    <h3>{{ item.season }}</h3>Saison: {{ item.season-date }}<br>
		</div>
		
	</div>
	


	
</div>	
	<hr />	
	{% endfor %}