
	{% for item in site.categories[page.folder] limit:numOfItems %}
<div class="row-fluid">
	

	<div class="span3">

		<img src="{{ ASSET_PATH }}{{ item.image-thumb }}" />
	</div>
	
	<div class="span6">
		<div>
			<h5><a href="{{ BASE_PATH }}{{item.url}}">{{item.title}}</a></h5>
			<!--small>2:18AM by Melissa</small-->
			
		
			{{ item.content | strip_html | truncatewords: 38 }} 
			<a href="{{ BASE_PATH }}{{item.url}}">&nbsp;weiterlesen</a>
			
		</div>
		
	</div>
	
	<div class="span3">
		{% assign value = item.co2-value %}
		{% include custom/co2-label.html %}
		<div class="pull-right">Saison: {{ item.season }}</div>
	</div>
	
	<hr />	

	
</div>	

	{% endfor %}