---
layout: page
title: Informationen Über Uns.
folder: infos
---

{% include JB/setup %}

<div class="row tabs-left tabbable">
		<ul class="nav nav-tabs span3 about-us-nav">
		  <!--dd><a href="#organisation" class="active">Organisation</a></dd>
		  <dd><a href="#personen">Personen</a></dd>
		  <dd><a href="#geschichte">Geschichte</a></dd>
		  <dd><a href="#referenzen">Referenzen</a></dd>
		  <dd><a href="#newsmedia">News & Media</a></dd>
		  <dd><a href="#material">Material</a></dd>
		  <dd><a href="#contact">Kontakt</a></dd
		href="#{{ item.short }}"
		-->
		
			{% for item in site.categories[page.folder] reversed %}
					<li><a  href="#{{ item.short }}"  data-target="#{{ item.short }}" data-toggle="tab">{{ item.title }}</a></li>
			{% endfor %}
		</ul>
	<div class="span9">

		<div class="tab-content about-us">
			
			{% for item in site.categories[page.folder] reversed %}
			
			<div id="{{ item.short }}" class="tab-pane fade {% if forloop.first %}  in active  {% endif %}">

				<div style="margin-bottom:20px" class="row-fluid">
					<div class="span8">
						<br>
						<h1>{{ item.header }}</h1>
						<h3>{{ item.sub-header }}</h3>
					</div>
					<div class="span4"> 
						{% if item.focus-image != null %}
							 <img src="{{ ASSET_PATH }}/images/infos/{{ item.focus-image }}" />
						{% endif %}
							{{ item.focus }} 
					</div>
				</div>
				<hr>
				<div class="row-fluid">
					<div class="span8">
						{{ item.content }} 
						
							{% case item.list_type %}
							
								{% when 'media' %}
										<ul>
											{% for list_item in site.tags['Presse'] reversed %}
											<li> 
												<span>{{ list_item.date | date_to_string }} </span>  &raquo; <a href="{{ BASE_PATH }}{{ list_item.url }}">
												{{ list_item.title }}</a>  &rarr; <strong>{{ list_item.media }}</strong>

											</li>
											{% endfor %}
										</ul>
										
										<h4>Pressespiegel</h4>
										<p>Eaternity in den Medien – wir sorgen für ein grosses Medienecho: Mehr als 50 Zeitungen, Radios, Fernsehstationen und Online-Medien haben bereits über uns informiert. Hier finden Sie eine kleine Auswahl der Berichte.</p>
										
										<ul>
											{% for list_item in site.categories[item.list] reversed %}
											<li>
											<span>{{ list_item.date | date_to_string }} </span>  &raquo; 
											{% for document in list_item.documents reversed %}
											<a target="_blank" href="{{ ASSET_PATH }}/files/{{ document | escape_once }}">{{ list_item.title }}  &larr; </a>
											{% endfor %}
											
											</li>
											
											{% endfor %}
										</ul>
								
								{% when 'material' %}
									<ul>
										{% for list_item in site.categories[item.list] %}
										<li> 
											<span><a href="{{ BASE_PATH }}{{ list_item.url }}">{{ list_item.date | date_to_string }}</a></span>  &raquo; 
											{{ list_item.title }}:
											
											<blockquote><ul>
												{% for document in list_item.documents reversed %}
												<li><strong><a target="_blank" href="{{ ASSET_PATH }}/files/{{ document | escape_once }}">{{ document }}  &larr; </a></strong><br> Autoren: {{ list_item.authors | first }}{% for author in list_item.authors offset:1 %}, {{author}} {% endfor %}</li>
												{% endfor %}
											</ul></blockquote>

										</li>
										{% endfor %}
									</ul>
								
								{% when 'team' %}
									
										{% for list_item in site.categories[item.list] reversed  %}
										
										
										<div class="row-fluid">
											<div class="span6">
													<div class="span2"><img  src="{{ ASSET_PATH }}{{ list_item.square }}" class="thumbnail"></div>
													<!-- {{ list_item.title }} -->
							



													<div class="span2">
												    {% if list_item.contact %}
									
												    <p>Email: <a href='mailto:{{ list_item.contact }}'>{{ list_item.contact }}</a></p>
												    {% endif %}


													{% if list_item.twitter %}
						
												    <p>Twitter: <a target='_blank' href='http://twitter.com/{{ list_item.twitter }}'>@{{ list_item.twitter }}</a></p>
												    {% endif %}



										    		{% if list_item.materialien %}
										    
										    		<p>
										    		<h5>Vorträge und Materialien zur Person</h5>
										    		</p>
										    		<ul>
										    			{% for item in list_item.materialien %}
										    		      <li>{{ item }}</li>
										    		    {% endfor %}
										    		</ul>
										    		{% endif %}
													</div>

											</div>

											<div class="span6">
												<div>


													<h2>{{list_item.title}}</h2>
													<h3>{{list_item.position}}</h3>
													<blockquote>"{{ list_item.comment }}"</blockquote>

					







												</div>
											</div>
										</div>
										<div class="row-fluid">
											<div class="span12">
													{{list_item.content}}
													<br />
													<hr />
											</div>
										</div>
										
										
										{% endfor %}
							

								{% when 'referenzen' %}
									
										<ul class="thumbnails">

											{% for list_item in site.categories[item.list] reversed  %}
													
											<a href="{{ list_item.partner-link }}" style="margin-top:20px;background:white;" class="thumbnail span6"><li style="padding:10px 10px 10px 10px;"><div class="span2" style="padding:5px;"><img  src="{{ ASSET_PATH }}/images/partner/{{ list_item.partner-logo }}" /><small>{{ list_item.partner-subtitle }}</small></div> <br /><br /><p style="float:right;display:block"> &rarr; <strong>{{ list_item.title }}</strong></p><br /><div style="float:right;display:block;text-align:justify;color:black;">{{ list_item.content }}</div></li></a>
													
											{% endfor %}
										</ul>
										
								{% else %}

								
								
							{% endcase %}
							
						
					</div>
					<div class="span4">
						<div class="well">
						{{ item.floater }}
						
						
							
							{% for float_list_item in site.categories[item.float_list] reversed limit: 3 %}
							
								{% case item.float_list_type %}

									{% when 'boxed' %}
									
										
										<p><a href='{{ BASE_PATH }}{{float_list_item.url}}'>
										{% if float_list_item.blog-image != null %}<img src="{{ ASSET_PATH }}/images/blog/teaser_1400x450/{{ float_list_item.blog-image }}" />{% endif %}
									     &raquo;{{ float_list_item.title }}</a></p>
									
									
									{% when 'projects' %}


										<p><!-- <a href='{{ BASE_PATH }}{{float_list_item.url}}'> -->
										<img src="{{ ASSET_PATH }}/images/projects/{{ float_list_item.short }}/{{ float_list_item.images | first }}" />
									     &raquo;{{ float_list_item.title }}<!-- </a> --></p>
									
									{% else %}
									     
									
								{% endcase %}
								
								
							{% endfor %}
						</div>
					</div>
				</div>
					
			</div>

			{% endfor %}
			
		</div>	
		
	</div>
</div>

<script src="{{ ASSET_PATH }}/js/jquery.js"></script>

<script>
$(function () {
  var activeTab = $('[href=' + location.hash + ']');
  activeTab && activeTab.tab('show');
});

$('.nav a').on('shown', function (e) {
  window.location.hash = e.target.hash;
})

</script>