---
layout: blog
title: Blog
folder: blog
---

{% include JB/setup %}

<div class="row-fluid">
	<div class="span8">
		<div class="page-header">
		  <h1>{{ page.title }} <small>{{ page.tagline }}</small></h1>
			<!-- <p>Sie interessiert, was wir jetzt gerade machen und erreicht haben? Lesen Sie weiter!</p> -->
		</div>
	</div>
	<div class="span4">
		<div style="text-align:right; color:#F18224; float:right;margin-top:2em;">
		abonnieren: <a href="{{ BASE_PATH }}/atom.xml">RSS</a>
		</div>
	</div>
</div>

{% for item in site.categories[page.folder] limit:10 %}

	<div class="row-fluid">
		<div class="span12">
			<div class="well-non">
				<a href="{{ BASE_PATH }}{{item.url}}">
					<h2 style="padding-bottom: 0.2em;">{{item.title}}</h2>
					<div class="recipe-info"><img class="about" src="{{ ASSET_PATH }}/images/icons/calendar.png" /><small>{{ item.date | date_to_string }}</small><img class="about" src="{{ ASSET_PATH }}/images/icons/author.png" /><small>{{ item.author }}</small></div>
					{% if item.blog-image != null %}<img src="{{ ASSET_PATH }}/images/blog/teaser_1400x450/{{ item.blog-image }}" >{% endif %}<h3 style="padding-bottom: 0.2em;">{{item.subtitle}}</h3>
				</a>			
				

				<p>
				{% if item.short == null %}
					{{ item.content | strip_html | truncatewords: 42 }}
				{% else %}
					{{ item.short }}
				{% endif %}
				</p>
				
				<!-- <a href="{{ BASE_PATH }}{{item.url}}#disqus_thread">Kommentare</a>. -->
				
				<a href="{{ BASE_PATH }}{{item.url}}" class="pull-right btn btn-inverse btn-small">&nbsp;weiterlesen</a>
				
				<div style="margin:auto" class="bottom-line"></div>
				<!-- ul class="like-buttons">
		            <li><div id="fb-root"></div>
						<fb:like href="{{ BASE_PATH }}{{item.url}}" send="true" width="" show_faces="false " action="like" font=""></fb:like></li>
						<li><a href="https://twitter.com/share" class="twitter-share-button" data-via="eaternity" data-lang="de" data-url="{{ BASE_PATH }}{{item.url}}" >Twittern</a></li>
						<li><g:plusone size="medium" annotation="inline" href="{{ BASE_PATH }}{{item.url}}"></g:plusone></li>
				</ul -->
				
			</div>
			
			
		</div>

	</div>
{% endfor %}

<!-- 
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'eaternity-web'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
 </script> -->