---
layout: default
title: Informationen Über Uns.
folder: infos
---

<div class="row">
	<div class="three columns">
		<dl class="nice vertical tabs">
		  <!--dd><a href="#organisation" class="active">Organisation</a></dd>
		  <dd><a href="#personen">Personen</a></dd>
		  <dd><a href="#geschichte">Geschichte</a></dd>
		  <dd><a href="#referenzen">Referenzen</a></dd>
		  <dd><a href="#newsmedia">News & Media</a></dd>
		  <dd><a href="#material">Material</a></dd>
		  <dd><a href="#contact">Kontakt</a></dd-->
		
			{% for item in site.categories[page.folder] reversed %}
			<dd><a href="#{{ item.short }}">
					{{ item.title }} 
			</a></dd>

			{% endfor %}
		</dl>
	</div>
	<div class="nine columns">

		<ul class="tabs-content top-margin">
			
			{% for item in site.categories[page.folder] reversed %}
			
			<li id="{{ item.short }}Tab">

				<div style="height:50px;margin-bottom:20px" class="row">
					<div class="eight columns">
						<h2>{{ item.header }}</h2>
						<h5>{{ item.sub-header }}</h5>
					</div>
					<div class="four columns"> 
							{{ item.focus }} 
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="eight columns">
						{{ item.content }} 
						
					
						
							{% case item.list_type %}
							
								{% when 'media' %}
										<ul>
											{% for list_item in site.tags['Presse'] reversed %}
											<li> 
												<span>{{ list_item.date | date_to_string }} </span>  &raquo; <a href="{{ site.baseurl }}{{ list_item.url }}">
												{{ list_item.title }}</a>  &rarr; <strong>{{ list_item.media }}</strong>

											</li>
											{% endfor %}
										</ul>
										
										<h4>Pressespiegel</h4>
										<p>Eaternity in den Medien – wir sorgen für ein grosses Medienecho: Mehr als 50 Zeitungen, Radios, Fernsehstationen und Online-Medien haben bereits über uns informiert. Hier finden Sie eine kleine Auswahl der Berichte.</p>
										
										<ul>
											{% for list_item in site.categories[item.list] reversed %}
											<li> 
												<span>{{ item.date | date_to_string }}</span>  &raquo; <a href="{{ site.baseurl }}{{ list_item.url }}">
												{{ list_item.title }}</a>

											</li>
											{% endfor %}
										</ul>
								
								{% when 'boxed' %}
								     {{ list_item.title }} 
								{% when 'team' %}
									
									<ul class="block-grid three-up">
										{% for list_item in site.categories[item.list] reversed %}
										<li> 
											<a href="{{ site.baseurl }}{{ list_item.url }}"><img src="{{ site.baseurl }}{{ list_item.square }}">
											{{ list_item.title }}</a>
											
										</li>
										{% endfor %}
									</ul>

									{% when 'referenzen' %}
										<ul class="block-grid three-up">

											{% for list_item in site.tags['Partner'] reversed %}
											{% for partner in list_item.partner %}
												<li style="padding:5px"> 
													<img src="{{ site.baseurl }}/images/partner/{{ partner | downcase | replace:' ','_' }}.jpg"><a href="{{ site.baseurl }}{{ list_item.url }}">
													 &rarr; <strong>{{ partner }}</a></strong>

												</li>
											{% endfor %}
											{% endfor %}
										</ul>
										
								{% else %}

								
								
							{% endcase %}
							
						
					</div>
					<div class="four columns">
						{{ item.floater }}
						
						
							
							{% for float_list_item in site.categories[item.float_list] reversed limit: 3 %}
							
								{% case item.float_list_type %}

									{% when 'boxed' %}
									
										
										<p><a href='{{site.baseurl}}{{float_list_item.url}}'>
										<img src="{{site.baseurl}}{{ float_list_item.blog-image }}" />
									     &raquo;{{ float_list_item.title }}</a></p>
									
									{% else %}
									     
									
								{% endcase %}
								
								
							{% endfor %}
					</div>
				</div>
					
			</li>

			{% endfor %}
			
			

		</ul>
		
	</div>
</div>