---
layout: default
title: Informationen Über Uns.
folder: infos
---

<div class="row">
	<div class="three columns">
		<dl class="nice vertical tabs">
		  <!--dd><a href="#organisation" class="active">Organisation</a></dd>
		  <dd><a href="#personen">Personen</a></dd>
		  <dd><a href="#geschichte">Geschichte</a></dd>
		  <dd><a href="#referenzen">Referenzen</a></dd>
		  <dd><a href="#newsmedia">News & Media</a></dd>
		  <dd><a href="#material">Material</a></dd>
		  <dd><a href="#contact">Kontakt</a></dd-->
		
			{% for item in site.categories[page.folder] reversed %}
			<dd><a href="#{{ item.short }}">
					{{ item.title }} 
			</a></dd>

			{% endfor %}
		</dl>
	</div>
	<div class="nine columns">

		<ul class="tabs-content top-margin">
			
			{% for item in site.categories[page.folder] reversed %}
			
			<li id="{{ item.short }}Tab">

				<div style="height:50px;margin-bottom:20px" class="row">
					<div class="eight columns">
						<h2>{{ item.header }} </h2>
						<h3>{{ item.sub-header }} </h3>
					</div>
					<div class="four columns"> 
							{{ item.focus }} 
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="eight columns">
							{{ item.content }} 
					</div>
					<div class="four columns">
							{{ item.floater }} 
					</div>
				</div>
					
			</li>

			{% endfor %}
			
			

		</ul>
		
	</div>
</div>