---
layout: default
title: Die klimafreundliche Rezepte-Küche 
folder: recipes
---

<div class="row">
	<div class="twelve columns">
		<h2>Willkommen, zur klimafreundlichen Rezepte-Küche.</h2>
		<hr>
	</div>
</div>


<div class="row eyecatcher">
	<div class="twelve columns">
	
		<div class="jumbotron homepage">
			<div id="featured-preview">
			
				<!-- 5 thumnails passen auf die Seite-->
				{% for item in site.categories['recipes'] reversed limit:5 %}
					<a href ="{{site.baseurl}}{{item.url}}" data-thumb="{{site.baseurl}}{{item.image-thumb}}" ><img src="{{site.baseurl}}{{item.image-slider}}" class="bg"  /></a>
				{% endfor %}

			</div>
		</div>
	
	</div>
</div>



<div class="row tabs recipes">
	<div class="three columns">
		<a class="active" href="#kitchen1"><h4>Unsere Koch-Tips fürs Klima</h3>
		<img src="/eaternity-website/images/frontpage/relevance.jpg" /></a>
	</div>
	
	<div class="three columns">
		<a href="#kitchen2"><h4>Alle Rezepte nach Saison</h3>
		<img src="/eaternity-website/images/frontpage/vision.jpg" /></a>
	</div>
	
	<div class="three columns">
		<a href="#kitchen3"><h4>Mehrwerte auf allen Ebenen</h3>
		<img src="/eaternity-website/images/frontpage/factors.jpg" /></a>
	</div>
	
	<div class="three columns">
		<a href="#kitchen4"><h4>Eigene Rezepte vorschlagen</h3>
		<img src="/eaternity-website/images/frontpage/factors.jpg" /></a>
	</div>
	
</div>


<ul class="tabs-content recipes prominent">
  <li class="active" id="kitchen1Tab">This is kitchen tab 1's content. Pretty neat, huh?</li>
  <li id="kitchen2Tab">
	<h3>Leckere, klimafreundliche Rezepte.</h3><hr>
	{% assign numOfItems = 50 %}
	{% include recipe-list.html %}
	
	</li>
  <li id="kitchen3Tab">This is kitchen tab 3's content. It's, you know...okay.</li>
  <li id="kitchen4Tab">This is kitchen tab 's content. It's, you know...okay.</li>
</ul>





