---
layout: default
title:  Genuss bewusst erleben.
lang: de
permalink: /
---
{% include JB/setup %}


<div class="row eyecatcher">
	<div class="span12">
	
		<div id="myCarousel" class="carousel">
			
			 <!-- Carousel items -->
			<div class="carousel-inner" id="featured">
				<div class="item">
					<img src="{{ ASSET_PATH }}/images/eyecatcher/markt622.jpg" class="bg" />
					<div class="carousel-caption">
						<h6>Essen bringt zusammen.</h6>
						<!--h1>Wir implementieren die Massnahmen das umzusetzen, was unsere Wissenschaft uns aufzeigt.</h1-->
						<!-- <br><a href="{{ BASE_PATH }}/about/" class="btn">Mehr Informationen</a> -->
					</div>
				</div>
				
				<div class="item">
					<img src="{{ ASSET_PATH }}/images/eyecatcher/meal622.jpg" class="bg" />
					<div class="carousel-caption">
						<h6>Mit Fokus auf Genuss und gutem Geschmack.</h6>
						<!-- <br><a href="{{ BASE_PATH }}/act/" class="btn">Mehr Informationen</a> -->
					</div>
				</div>
		
				
				<div class="item">
					<img src="{{ ASSET_PATH }}/images/eyecatcher/waage622.jpg" class="bg" />
					<div class="carousel-caption">
						<h6>Wichtig: Klimafreundlich und Ressourcengerecht.</h6>
						<!-- <br><a href="{{ BASE_PATH }}/act/" class="btn">Mehr Informationen</a> -->
					</div>
				</div>
				
				<div class="item">
					<img src="{{ ASSET_PATH }}/images/eyecatcher/tree622.jpg" class="bg" />
					<div class="carousel-caption">
						<h6>Entscheidungen treffen. Glücklich sein.</h6>
						<!-- <br><a href="{{ BASE_PATH }}/act/" class="btn">Mehr Informationen</a> -->
					</div>
				</div>
				
				<div class="item">
					<img src="{{ ASSET_PATH }}/images/eyecatcher/team622.jpg" class="bg" />
					<div class="carousel-caption">
						<h6>Bewusst leben bedeutet Perspektiven schaffen.</h6>
						<!-- <br><a href="{{ BASE_PATH }}/act/" class="btn">Mehr Informationen</a> -->
					</div>
				</div>
				
				
				<div class="item">
					<img src="{{ ASSET_PATH }}/images/eyecatcher/soup622.jpg" class="bg" />
					<div class="carousel-caption">
						<h6>Gesund essen gibt uns Energie.</h6>
						<!-- <br><a href="{{ BASE_PATH }}/recipes/" class="btn">Mehr Informationen</a> -->
					</div>
				</div>

				
			</div>
			<!-- Carousel nav -->
			 <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			 <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
			<!--a href="{{ BASE_PATH }}/#" id="prev" class="slider">&larr;</a>
			<a href="{{ BASE_PATH }}/#" id="next" class="slider">&rarr;</a-->
			
		</div>
	
	</div>
</div>	

<div class="well-non">
<div class="row">
	<div class="span12 ">

		<div class="row-fluid">
			<div class="span7 right-line">
				<div class="bottom-line">
					<h1>Eaternity steht für nachhaltige Ernährung.</h1>
					<br />
					<h3 style=" text-align: center; ">Und dafür Genuss bewusst zu erleben.</h3>
					<br /><br />
					
					
					
<!-- 					<div class="row-fluid" style="hidden:true">	
						<div class="span12">
							<h2 style="padding-bottom:0em;">Aktuelles</h2>
							<p>
							Unsere Arbeit geht gut voran. Wir freuen uns über die starke Unterstützung und suchen weiterhin Personen unserer Gesinnung, welche sich unserem Team anschliessen wollen. Schreibt uns einfach.
							</p>
							<br /> 

							<ul class="top-info row-fluid">
							  <li class="span6">
									<a href="{{ BASE_PATH }}/facts" class="thumbnail"><img src="{{ ASSET_PATH }}/images/frontpage/01_Relevanz.jpg" />
									</a><a href="{{ BASE_PATH }}/facts"><h3>Kommentar von Thomas Fellacot</h3></a>
							  </li>
							  <li class="span6">
									<a href="{{ BASE_PATH }}/about" class="thumbnail"><img src="{{ ASSET_PATH }}/images/frontpage/02_vision.png" /></a>
									<a href="{{ BASE_PATH }}/about"><h3>Teste unseren Beta-Rechner</h3></a>
							  </li>
							</ul>
						</div>
						<br /><br />

					</div> -->
					
					
					
					
					
				</div>
				<br /><br />
				<div class="row-fluid">
					<div class="span8">
						<a href="{{ BASE_PATH }}/blog/index.html"><h2 style="padding-bottom:0em;">Blog</h2></a>

					</div>
					<div class="span4">
						<div class="social-media pull-right">
							<a target="_blank" href="https://www.facebook.com/eaternity" ><img src="{{ ASSET_PATH }}/images/icons/facebook.png" /></a>
							<a target="_blank" href="https://twitter.com/eaternity" ><img src="{{ ASSET_PATH }}/images/icons/twitter.png" /></a>
							<a target="_blank" href="https://plus.google.com/103258917793939014629"><img src="{{ ASSET_PATH }}/images/icons/google.png" /></a>
						</div>
					</div>
				</div>
				
				
				
				<div class="row-fluid bottom-line">	
					<div class="span12">
							<ul>
							{% for item in site.categories['blog'] limit:8 %}
							<li>{% if item.blog-image != null %}<a href="{{ BASE_PATH }}{{ item.url }}"><img style="margin-left:-10px;padding-right:16px" class="span2" src="{{ ASSET_PATH }}/images/blog/teaser_1400x450/{{ item.blog-image }}" ></a>{% endif %}
								
								<span style="width:100px;padding-top:1em;">{{ item.date | date_to_string }}</span><a href="{{ BASE_PATH }}{{ item.url }}"><h6 style="padding-top:0px;">{{ item.title }}</h6><small>{% if item.subtitle != null %}{{ item.subtitle }}</small><br />{% endif %}</a></li><li><br /></li>
						    {% endfor %}
							</ul>

					</div>
				<br />	
					<a href="{{ BASE_PATH }}/blog/index.html" class="pull-right btn btn-inverse btn-small">weitere Artikel</a>
				</div>
				<br /><br />
				
				
				<div class="row-fluid">	
					<div class="span12">
						<h2 style="padding-bottom:0em;">Hintergründe</h2>
						<p>
						Vor 4 Jahren sind wir über die ersten Studien gestolpert. Seitdem ist uns die Relevanz der Ernährung in Bezug auf den Klimawandel immer mehr bewusst geworden. Nach Berechnungen und weiteren Überlegungen sahen wir das Potential 50% der Emissionen einzusparen! Jetzt haben wir konkrete Massnahmen entwickelt, mit welchen jeder Person ermöglicht wird, die Entscheidung zur klimafreundlichen Ernährung zu treffen.
						</p>
						<br /> 
						
						<ul class="top-info row-fluid">
						  <li class="span6">
								<a href="{{ BASE_PATH }}/facts" class="thumbnail"><img src="{{ ASSET_PATH }}/images/frontpage/01_Relevanz.jpg" />
								</a><a href="{{ BASE_PATH }}/facts"><h3>Relevanz &amp; Potential.</h3></a>
						  </li>
						  <li class="span6">
								<a href="{{ BASE_PATH }}/about" class="thumbnail"><img src="{{ ASSET_PATH }}/images/frontpage/02_vision.png" /></a>
								<a href="{{ BASE_PATH }}/about"><h3>Entscheidungen ermöglichen.</h3></a>
						  </li>
						  <!-- <li class="span4">
								<a href="{{ BASE_PATH }}/about/recipes" class="thumbnail"><img src="{{ ASSET_PATH }}/images/frontpage/factors.jpg" />
								<h2>Unsere Erfolge.</h2></a>
						  </li> -->
						</ul>
					</div>
					<br />
					
					<hr />	
					<br /> <br /> 
					
					
					<h2 style="padding-bottom:0em;">Wo geht es hin?</h2>
					<br /> 
					<ul class="row-fluid">
					  <li class="span6">
						
					<h3><strong>Die Vision</strong></h3>		
					<p>Der Verein Eaternity hat zum Ziel klimafreundliche Ernährung in der Gesellschaft zu etablieren.</p>
					<a href="{{ BASE_PATH }}/act/" class="pull-right btn btn-inverse btn-small">mitmachen</a>
					
					
					 </li>
					  <li class="span6">
					
					<h3><strong>Theory of Change</strong></h3>
					<p>Mit einem Social-Business wollen wir zusammen mit Partnern jedem den Zugang zu einer Entscheidung ermöglichen.</p>
					<a href="{{ BASE_PATH }}/offers/#socialbusiness" class="pull-right btn btn-success btn-small">Zum Business-Model</a>
					
					</li></ul>
					
						<hr>
						
					<a class="btn btn-success" href="{{ BASE_PATH }}/offers" style="margin-left: auto; margin-right: auto">Informationen für Unternehmen</a>
						
					
				</div>
				
			
				
		
			</div>
				
			<div class="span4" align="left" >
				
					<br /> 
					<h3><strong>Eaternity bei TEDx Lausanne 2014</strong></h3>
					<a target="_blank" href="http://tedxtalks.ted.com/video/Eating-is-an-environmental-actM"><img src="{{ ASSET_PATH }}/images/frontpage/tedxlausanne.jpg" /> Link zum TEDx Video </a>	
					<hr />
				
				
			
				
					<a href="{{ BASE_PATH }}/about/#awards-link" ><h3><strong>Preise und Auszeichnungen</strong></h3></a>
					<ul class="awards">
					<li><h6>Ashoka Impact Program - 2014</h6> Ashoka Switzerland</li>
					<li><h6>Innovate For Climate - Stage 2 & 3</h6> von Climate-KIC Switzerland</li>
					<li><h6>TEDx Lausanne 2014</h6> Erste Präsentation der Veranstaltung</li>
					<li><h6>CTI Start-Up Label Phase 3 (2014)</h6> Kommission für Technologie und Innovation der Schweiz</li>
					<li><h6>Gerbert Rüf Stiftung 2013</h6> fördert das Projekt CarbonFoodPrint</li>
					<li><h6>Finalist AXA Innovation Award 2013 (Besten 5)</h6> der AXA Winterthur</li>
					<li><h6>Social Impact Start-Up Award 2013</h6>von SAP Schweiz AG</li>
					<li><h6>2.ter Platz Umweltpreis "Trophee de Femmes 2013"</h6>von Yves Rocher</li>
					<li><h6>VentureKick Stage 1 (Januar 2013)</h6> für unseren Business-Pitch</li>
					<li><h6>Beste Innovation 2012 beim Innovation4Motivation</h6>vom GDI und celebrationpoint</li>
					<li><h6>Finalist Future Impact Price 2012 (Letzten 5)</h6> von «Partnering for Global Impact»</li>
					<li><h6>1.ter Platz Publikumspreis Präsenstation der Geschäftsidee 2012</h6>Entrepreneursclub Zürich</li>
					<li><h6>SEF Award Spezialpreis Soziale Innovation 2012</h6>von Ernst&Young und Seif</li>
					<li><h6>2.ter Platz beim Prix Nature 2012</h6> <a target="_blank" href="http://www.youtube.com/watch?v=2g9GedPylM8">Link zum Prix Nature Video</a></li>
					<li><h6>Fellowship für Biodiversität und Resourceneffizient 2012</h6>vom WWF Schweiz und HUB Zürich</li>
					<li><h6>Kofi Annan - Podiumsdiskussion 2010</h6> von der Richard R. Ernst Lecture</li>
					<li><h6>1.ter Platz des ersten ecoworks Workshops 2008</h6>der ETH</li>
					<ul>
					
				<!-- <h3><strong>Partner </strong></h3><br>
				
				<ul class="thumbnails">
				  <li class="span2">
						<a> <img src="{{ ASSET_PATH }}/images/partner/eth.jpg" /></a>
				  </li>
				  <li class="span2">
						<a><img src="{{ ASSET_PATH }}/images/partner/stadt-zuerich.jpg" /></a>
					</li>
				</ul>
				
				-->

					<hr />
						
					
					<h3><strong>Job-Angebot</strong></h3>	
					<p>Es gibt bei Eaternity eine Stelle für einen Software Engineer!</p>
					<!-- Beta-Test - Kombiniere leckere Menüs und spare CO2 - Ein grosser Schritt für uns ist geschafft. Mit dem CO2-Rechner wird es jedem möglich sein selbst Rezepte einzugeben und den CO2-Wert zu berechnen. Hilf uns mit deinem Feedback zur unserer Vision den Rechner auf eure Bedürfnisse anzupassen. -->
					<a target="_blank" href="{{ ASSET_PATH }}/files/Job_Offer-Software-Engineer-Eaternity.pdf"><!-- <img src="{{ ASSET_PATH }}/images/frontpage/job_offer.jpg" />  -->Link zur Ausschreibung</a>

					<hr />

					<h3><strong>Master-Arbeiten</strong></h3>
					<p>Mit der UZH gibt es für Informatiker 2 Masterarbeiten!</p>
					<a target="_blank" href="http://www.ifi.uzh.ch/isr/teaching/masterarbeiten/Masterarbeit_GUI_for_Eaternity_DB.pdf ">Masterarbeit: Vereinfachung von Lebenszyklus-Analysen</a>
					<a target="_blank" href="http://www.ifi.uzh.ch/isr/teaching/masterarbeiten/Masterarbeit_Eaternity_Motivation.pdf ">Masterarbeit: Reporting zur Motivation nachhaltiger Handlungen</a>

				
					
				</div>
			</div>
		</div>
	</div>

</div>





<!--div class="row ">
	<div class="span12">
		
		
		<div class="well">
			<div class="row-fluid">
				<div class="span8">
				<a href="{{ BASE_PATH }}/blog/index.html"><h3>Blog</h3></a>

				</div>
				<div class="span4">
					<div class="btn-group pull-right">
					<a target="_blank" href="https://www.facebook.com/eaternity" class="btn-mini  btn">Facebook</a><a target="_blank" href="https://twitter.com/eaternity" class="btn-mini  btn">Twitter</a><a target="_blank" href="https://plus.google.com//103258917793939014629" class="btn-mini btn">Google+</a></div>
				</div>
				<div class="span12">
					
					{% for item in site.categories['blog'] limit:3 %}
						<span>{{ item.date | date_to_string }}</span>  &raquo; <a href="{{ BASE_PATH }}{{ item.url }}">{{ item.title }}</a><br />
				    {% endfor %}

				</div>
					
			</div>
		</div>
	
	
	
	</div>
	<div class="span6">
		<div class="blog">
			<a href="{{ BASE_PATH }}/blog/index.html"><h5>Twitter?</h5></a>
			<a href="{{ BASE_PATH }}/blog/blog-post.html">Aktuellster Tweet: Hier kannst du mehr darüber lesen &larr;</a>
		</div>
	</div>
</div-->

</div> <!-- this is a hack -->
<div class="page content-stop">

<div class="row" >
	<div class="span12">

	<!-- <div class="row-fluid">
		<div class="span12">
			<a href="{{ BASE_PATH }}/recipes/#kitchen2"><h2>Zu unseren klimafreundlichen Rezepten</h2></a>
			</br>
		</div>
	</div> -->

	<div class="row-fluid">
		{% for item in site.categories['recipes'] reversed limit:1 %}
			<div class="span6 tapete">
				<div class="row-fluid">
						<div class="span6">
							<a href="{{ BASE_PATH }}{{ item.url }}" class="thumbnail recipe-frame">
								<img  src="{{ ASSET_PATH }}{{ item.image-thumb }}" />
							</a>
						</div>
						<div class="span6 recipe">
							<a href="{{ BASE_PATH }}{{ item.url }}">
								<h5>{{ item.type }}</h5>
								<h3>{{ item.title }}</h3>
							</a>
							<p>{{ item.content | strip_html | truncatewords: 22 }} 
							<!-- <a href="{{ BASE_PATH }}{{item.url}}">&nbsp;weiterlesen</a> --></p>
							
						</div>
						<a href="{{ BASE_PATH }}{{item.url}}" class="pull-right btn btn-inverse btn-small">zum Rezept</a>
		    
				</div>
			</div>
		{% endfor %}
		
			<div class="span6 tapete">
				<div class="row-fluid">
						<div class="span6">
							<a href="{{ BASE_PATH }}/recipes/#kitchen2" class="thumbnail recipe-frame">
								<img  src="{{ ASSET_PATH }}/images/kitchen/02_alleRezepte_480px.png" />
							</a>
						</div>
						<div class="span6 recipe">
							<a href="{{ BASE_PATH }}/recipes/#kitchen2">
								<h5>Menu-Bibliothek</h5>
								<h3>Die Rezepte Küche</h3>
							</a>
							<p>In unserer umfangreichen Rezepte-Küche findet sich etwas für jeden Geschmack - und stets Gutes fürs Klima!
							<!-- <a href="{{ BASE_PATH }}{{item.url}}">&nbsp;weiterlesen</a> --></p>
							
						</div>
		    			<a href="{{ BASE_PATH }}/recipes/#kitchen2" class="pull-right btn btn-inverse btn-small">stöbern!</a>
				</div>
			</div>
	</div>


	<div class="row-fluid">
		
			<hr class="special" />
			
			<div class="row-fluid recipe-tooltips">
				<div class="span6">
					<!-- <ul class=""> -->
						<div class="row-fluid ">
							{% for item in site.categories['recipes'] reversed offset:1 limit:4 %}
							<div class="span3">
								<a href="{{ BASE_PATH }}{{ item.url }}" class="thumbnail recipe-frame-small" data-placement="bottom" rel="tooltip" title="{{ item.title }}">
									<img  src="{{ ASSET_PATH }}{{ item.image-thumb }}" />
								</a>
							</div>
							{% endfor %}
						</div>
				</div>
				<div class="span6">
					<!-- <ul class=""> -->
						<div class="row-fluid ">
							{% for item in site.categories['recipes'] reversed offset:5 limit:4 %}
							<div class="span3">
								<a href="{{ BASE_PATH }}{{ item.url }}" class="thumbnail recipe-frame-small" data-placement="bottom" rel="tooltip" title="{{ item.title }}">
									<img  src="{{ ASSET_PATH }}{{ item.image-thumb }}" />
								</a>
							</div>
							{% endfor %}
						</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span12">
			<div class="jumbotron">
				<!-- <img  src="{{ ASSET_PATH }}/images/frontpage/rezeptekueche.jpg" />
				<a href="{{ BASE_PATH }}/recipes/#kitchen2"><h1>Auf zur Klimafreundlichen Rezepte Küche.</h1></a> -->
			</div>
		</div>
	</div>

	</div>
</div>




<!--  
## Sample Posts

This blog contains sample posts which help stage pages and blog data.
When you don't need the samples anymore just delete the `_posts/core-samples` folder.

    $ rm -rf _posts/core-samples

Here's a sample "posts list".

<ul class="posts">
  {% for post in site.posts %}
    <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul-->


<script src="{{ ASSET_PATH }}/js/jquery.js"></script>
<script>
$(document).ready(function () {
   $("[rel=tooltip]").tooltip();
   $('.item').eq(Math.floor((Math.random() * $('.item').length))).addClass("active");
   $('.carousel').carousel({
  interval: 20000
});
 });

</script>
