---
layout: default
---

<div class="row">
	<div class="twelve columns">
		<h2>Blog</h2>
		<p>This is some text to describe the blog.</p>
	</div>
</div>

<div class="row">
	<div class="eight columns">
		
		
{% for item in site.categories[page.gallery] reversed %}

		<div class="row">
			<div class="three columns">
				August 18, 2011
			</div>
			
			<div class="nine columns">
				<div>
					<h4><a href="blog-post.php">This is an awesome blog post title</a></h4>
					<small>2:18AM by Melissa</small>
					
					<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
					<p><img src="http://placehold.it/452x150"></p>
					<p>Etiam porta sem malesuada magna mollis euismod. Curabitur blandit tempus porttitor. Curabitur blandit tempus porttitor. Curabitur blandit tempus porttitor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue.</p>
					<ul>
						<li style="display:block; float: left">Comment</li>
						<li style="display:block; float: left">Like</li>
						<li style="display:block; float: left">Tweet</li>
						<li style="display:block; float: left">+1</li>
					</ul>
				</div>
			</div>
			<hr />	
		</div>	
		
{% endfor %}		
		
	</div>
	
	<div class="four columns">
		<p>This is some content in the sidebar. Quicklings to topics via Tag-Cloud. Information about retweets of this page.</p>
		
		<div class="panel">
			<p>Warum spendest du nicht?
				<a href="#" class="nice radius black button">Jetzt Spenden</a>
			</p>
		</div>
		
		<blockquote>"I love my children! Thank you Rebekah Children's Services!. This info should appear kind of on every page." <cite>Loving Mother</cite></blockquote>

	</div>			
</div>
