---
layout: blog
---

{% for item in site.categories[page.folder] reversed %}

		<div class="row">
			<div class="three columns">
				{{ item.date | date_to_string }}
			</div>
			
			<div class="nine columns">
				<div>
					<h3><a href="{{item.url}}">{{item.title}}</a></h3>
					<!--small>2:18AM by Melissa</small-->
					
				
					{{ item.content | strip_html | truncatewords: 75 }} 
					
					<ul class="like-buttons">
			            <li><div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=121316227966331&amp;xfbml=1"></script><fb:like href="http://www.rcskids.org/blog-archive/32-a-culinary-accomplishment" send="true" width="" show_faces="false " action="like" font=""></fb:like></li>
						<li><a href="http://twitter.com/share" class="twitter-share-button" data-url="http://www.rcskids.org/blog-archive/32-a-culinary-accomplishment" data-count="horizontal" data-via="rcskids">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></li>
						<li><g:plusone href="http://www.rcskids.org/blog-archive/32-a-culinary-accomplishment"></g:plusone></li>
					</ul>
					
				</div>
			</div>
			<hr />	
		</div>	
		
{% endfor %}