<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->

<head>
	<meta charset="utf-8" />
	<meta http-equiv="Description" content="Eaternity" />
	<meta http-equiv="Keywords" content="eaternity climatefriendly meals"/>
	<meta name="googlebot" content="index,archive,follow" />
	<meta name="robots" content="index,archive,follow" />
	<meta http-equiv="Content-Language" content="de" />
	
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />
	<title>Eaternity  &#10031; {{ page.title }}</title>
  

	<!-- Google-Font File-->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800' rel='stylesheet' type='text/css'>
	
	
	<!-- Included CSS Files -->
	<link rel="stylesheet" href="{{site.baseurl}}/stylesheets/foundation.css">
	<link rel="stylesheet" href="{{site.baseurl}}/stylesheets/app.css">


	<!--[if lt IE 9]>
		<link rel="stylesheet" href="{{site.baseurl}}/stylesheets/ie.css">
	<![endif]-->

	
	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
		<script src='http://html5shiv.googlecode.com/svn/trunk/html5.js'></script>
	<![endif]-->

</head>
<body>


<!-- Header Content -->
<header>
<!-- container -->
<div class="container">
	
		<div class="row">
			<div class="three columns">
				<a href="{{site.baseurl}}/index.html"><img class="logo" src="{{site.baseurl}}/images/generic/logo-eaternity-small_04-11-2010.png" /></a>
			</div>
			<div class="nine columns">
			<br><br>
			</div>
		</div>
		
		<div class="row">
			<div class="ten columns offset-by-two">
				<nav>
					<ul>
						<li><a href="{{site.baseurl}}/about/eaternity/index.html">Was ist Eaternity?</a></li>
						<li><a href="{{site.baseurl}}/about/facts/index.html">Umweltfakten</a></li>
						<li><a href="{{site.baseurl}}/projects/index.html">Projekte & Erfolge</a></li>
						<li><a href="{{site.baseurl}}/about/act/index.html">Werde Aktiv</a></li>
					</ul>
				</nav>
			</div>
		</div>
	
	</div>
	<!-- container -->
</header>

<!-- Page Content -->
	<!-- container -->
	<div class="container">
		<div class="page">
			
			
			
		  {{ content }}
		
		
		
		<div class="row">
			<div class="four columns right offset-by-eight">
				&nbsp;
			</div>
		</div>
		
		</div>
	</div><!-- container -->
	
<!-- Donation Dialog  -->

{% include donateModal.html %}

<!-- Donation Dialog  -->

	
<!-- Footer Content -->
	<footer>
		<!-- container -->
		<div class="container">
			<div class="row">
				<div class="three columns">
					<a href="{{site.baseurl}}/#"><h5>Seitenübersicht &larr;</h5></a>
					<p>
						<a href="{{site.baseurl}}/about/#organisation">Organisation</a><br />
						<a href="{{site.baseurl}}/blog/">Blog</a><br />
						<a href="{{site.baseurl}}/recipes/#nice2">Rezepte</a><br />
						<!-- a href="{{site.baseurl}}/#">Spenden  &rarr;</a><br /-->
						<br />
						<a href="{{site.baseurl}}/about/#newsmedia">Presse</a><br />
						<a href="{{site.baseurl}}/about/#material">Materialien</a><br />
						<!--a href="{{site.baseurl}}/#">Quellen?</a><br /-->
						<br />
						<a href="{{site.baseurl}}/#">FAQ & Support</a><br />
						<!--a href="{{site.baseurl}}/#">Feedback (Zur Homepage)?</a><br /-->
						<!--a href="{{site.baseurl}}/#">Impressum ?</a><br /-->
						<a href="{{site.baseurl}}/about/#contact">Kontakt</a><br />
					</p>

					<h5><img src="{{site.baseurl}}/images/generic/cc_icon_small.png" />&nbsp;2011 Eaternity</h5>
					<p><a rel="license" href="{{site.baseurl}}/http://creativecommons.org/licenses/by/3.0/" target="_blank"> Creative Commons Attribution 3.0 Unported License</a></p>
					<p><a href="{{site.baseurl}}/">Privatsphäre & Haftbarkeit & Rechtshinweise</a></p>
					
				</div>
				<div class="four columns">

					<h5>International</h5>
					<p>
					<a href="{{site.url}}{{site.baseurl}}{{page.url}}#googtrans(en)" >English</a> /
					<a href="{{site.url}}{{site.baseurl}}{{page.url}}#googtrans(fr)" >Francais</a> /
					<a href="{{site.url}}{{site.baseurl}}{{page.url}}#googtrans(it)" >Italians</a>
					<!-- div id="google_translate_element"></div -->
					</p>
					<h5>Newsletter</h5>
					<p>Signup</p>
					
					<h5>Anschrift</h5>
					<a target="_blank" href="http://maps.google.com/maps/place?q=Eaternity,+Grabenwies,+Z%C3%BCrich,+Schweiz&hl=de&ie=UTF8&cid=3758137987510734202">Auf Google-Maps</a>
					<p>
					<ul class="vcard">
					    <li style="display:none" class="org">Eaternity</li>
						<li class="street-address">Grabenwies 18</li>
					    <li class="locality">CH-8057 Zürich</li>
					    <li class="tel">+41-77-44-981</li>
						<li class="email"><a href="mailto:info@eaternity.ch">info@eaternity.ch</a></li>
					</ul>
					</p>
					


				</div>
			
				<div class="five columns team">
					
					
					<a href="{{site.baseurl}}/about"><h5>Hallo, wir sind Eaternity &larr;</h5></a>
					<hr>

						{% for item in site.categories['team'] reversed limit:9 %}
							<div class="three phone-three columns">
								<a href="{{site.baseurl}}{{item.url}}"><div onMouseover="document.getElementById('{{ item.short }}').style.display='none';"  id="{{ item.short }}" class="cover-thumb"></div><img id="{{ item.short }}" src="{{site.baseurl}}/{{item.thumb}}" onMouseout="document.getElementById('{{ item.short }}').style.display='block';"/></a>
							</div>
					    {% endfor %}
						<hr>
						<p>Werde Vereins-Mitglied. So kannst du aktiv mitwirken oder uns finanziell unterstützen.</p>
						<a href="{{site.baseurl}}/get-involved/" class="nice small radius black right button">Werde Mitglied &rarr;</a><a href="{{site.baseurl}}/get-involved/" class="nice radius white small right button">Unser Team</a>

					
				</div>
			</div>
		</div>
		<!-- container -->
	</footer>

	<!-- Included JS Files -->
	
<script src="{{site.baseurl}}/javascripts/foundation.js"></script>
<script src="{{site.baseurl}}/javascripts/app.js"></script>


<script>
function googleTranslateElementInit() {
  new google.translate.TranslateElement({
    pageLanguage: 'de',
    includedLanguages: 'de,en,fr,it',
    autoDisplay: false,
    gaTrack: true,
    gaId: 'UA-10486321-1',
    layout: google.translate.TranslateElement.InlineLayout.SIMPLE
  }, 'google_translate_element');
}
</script>
<script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
	
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-3854088-2");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>