---
layout: default
---
<!-- @TODO vary width by number of thumbnails -->
{% if site.categories[page.gallery].size <= 4 %}
{% assign width = 'thin' %}
{% endif %}
<div id='gallery' class='{{width}}'><div class='thumbs clearfix'>
{% for item in site.categories[page.gallery] reversed %}
  {% if item.slides.size %}
  <a href='{{item.url}}' style='background-image: url(/slides/t{{item.slides[0]}})'></a>
  {% elsif item.video %}
  <a href='{{item.url}}' style='background-image: url(/slides/t{{item.video|replace:'flv','jpg'}})'></a>
  {% endif %}
{% endfor %}
</div></div>