---
layout: default
---
{% include JB/setup %}
<meta HTTP-EQUIV="REFRESH" content="0; url={{ ASSET_PATH }}/files/{{ page.documents }}">

<ul>

	<li> 
		<span><a href="{{ site.baseurl }}{{ list_item.url }}">{{ page.date | date_to_string }}</a></span>  &raquo; 
		{{ page.title }}:
		
		<blockquote><ul>
			{% for document in page.documents reversed %}
			<li><strong><a target="_blank" href="{{ ASSET_PATH }}/files/{{ document | escape_once }}">{{ document }}  &larr; </a></strong><br> Autoren: {{ page.authors | first }}{% for author in page.authors offset:1 %}, {{author}} {% endfor %}</li>
			{% endfor %}
		</ul></blockquote>

	</li>

</ul>
