---
layout: default
---
<div id='aside'>
  <div class='flipper'>
    {% if page.previous and page.previous.category == page.category %}
    <a class='prev' href='{{base}}{{page.previous.url}}'>&laquo; Prev</a>
    {% endif %}
    {% if page.next and page.next.category == page.category %}
    <a class='next' href='{{base}}{{page.next.url}}'>Next &raquo;</a>
    {% endif %}
  </div>
  <div class='text'>
    <h1>{{page.title}}</h1>
    <div class='date'>{{page.circa}}</div>
    <div class='info'>{{page.media}}</div>
    <div class='description'>
      <p>{{content}}</p>
    </div>
  </div>
  {% if page.slides.size > 1 %}
  <div class='thumbs'>
    {% for slide in page.slides %}
    <a id='thumb{{forloop.index}}' href='#' style='background-image: url(/slides/t{{slide}})'></a>
    {% endfor %}
  </div>
  <div class='data'>
    {% for slide in page.slides %}
    <a id='data{{forloop.index}}'>/slides/{{slide}}</a>
    {% endfor %}
  </div>
  {% endif %}
</div>
<div id='main'>
  {% if page.slides %}
  <img src='/slides/{{page.slides[0]}}' />
  {% elsif page.video %}
  <div class='video'>
    <embed src='/flvplayer/flvplayer.swf' width='320' height='250' type='application/x-shockwave-flash' pluginspage='http://www.macromedia.com/go/getflashplayer' flashvars='file=/videos/{{page.video}}&amp;autostart=false'></embed>
  </div>
  {% endif %}
</div>