---
layout: page
title: Projekte & Erfolge
---
{% include JB/setup %}

<div class="row">
	<div class="span4"><img src="{{ ASSET_PATH }}/images/smiley.png"></div>
	<div class="span8">
		<h3>Hier steht was uns glücklich macht.<br>Hier verwirklicht sich unsere Vision.</h3>
			<hr />
	</div>
</div>

<!-- this is only for the blog -->
<!-- Platzieren Sie diese Render-Anweisung an einer geeigneten Stelle. -->

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/de_DE/all.js#xfbml=1&appId=178395151751";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>


<div class="row">
	<div class="span4 ">
		
		
		<div class="well">
		<div class="prominent">
			 <p>Mit unseren Projekten und Massnahmen erreichen wir Menschen direkt und betreiben Öffentlichkeitsarbeit. Stück für Stück realiseren wir
	        zusammen mit Partnern klimafreundliche Menüs. Bringen die Thematik auf den Tisch,sensibiliseren und bewegen. Diese Plattform dient auch als
	        Vorlage für weitere Projekte, unsere Erfahrungen und Materialien finden sich in der jeweiligen Projektübersicht – und sind für ein weiteres
	        Projekt bereit verwendet zu werden.</p>
	
			<h2>Dein Projekt.</h2><br>
			<p>
			<a href="{{ BASE_PATH }}/act/" class="btn">Jetzt anfragen und realisieren!</a>
			</p>
			<p>Sei selbst die Veränderung die du in der Welt sehen möchtest!</p>

	 	</div>

		<br>
		 <p>Eigene Ideen und Vorschläge kannst du auch in unserem <a target="_blank" href="http://support.eaternity.ch">Support Forum</a> einbringen.
	       Wir freuen uns über Hinweise und Ideen wie wir eine grössere Wirkung erzielen könne.</p>
	
		</div>		
	</div>
	
	<div class="span8">
		
		{{ content }}
	

	</div>			
</div>
