---
layout: default
---


<div class="row">
	<div class="four columns"><img src="{{ site.baseurl }}/images/smiley.png"></div>
	<div class="eight columns">
		<a href="{{ site.baseurl }}/projects"><h2>Projekte & Erfolge</h2></a>
		<h5>Was hier steht macht uns glücklich. :-)<br>Hier verwirklicht sich unsere Vision.</h5>
			<hr />
	</div>
		
	
</div>

<!-- this is only for the blog -->
<!-- Platzieren Sie diese Render-Anweisung an einer geeigneten Stelle. -->

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/de_DE/all.js#xfbml=1&appId=178395151751";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<div class="row">
	<div class="four columns">
		<blockquote style="border:1px">Mit unseren Projekten und Massnahmen erreichen wir Menschen direkt und betreiben Öffentlichkeitsarbeit. Stück für Stück realiseren wir zusammen  mit Partnern klimafreundliche Menüs. Bringen die Thematik auf den Tisch,sensibiliseren und bewegen. Diese Plattform dient auch als Vorlage für weitere Projekte, unsere Erfahrungen und Materialien finden sich in der jeweiligen Projektübersicht – und sind für ein weiteres Projekt bereit verwendet zu werden.</blockquote>

		
		<div class="prominent">
			<h5>Realisiere dein eigenes Projekt.</h5><br>
			<a href="#" class="nice radius full-width black button"  data-reveal-id="donateModal">Jetzt Anfragen!</a>
			<p>Sei selbst die Veränderung die du in der Welt sehen möchtest!</p>
		</div>
		<p>Eigene Ideen und Vorschläge kannst du auch in unserem <a target="_blank" href="http://support.eaternity.ch">Support Forum</a> einbringen. Wir freuen uns über Hinweise und Ideen wie wir eine grössere Wirkung erzielen könne.
	</div>
	
	<div class="eight columns">
		
		{{ content }}
	

	</div>			
</div>
