---
layout: default
---
{% include JB/setup %}

<!-- <style type="text/css">

header nav { 
 display:none;
}

footer .row { 
 display:none;
}

</style> -->

<div class="row">
	<div class="span12 recipeTitel" >
		<img src="{{ ASSET_PATH }}{{ page.image-big }}">
		<h6>{{page.title}}</h6>
	</div>
</div>

<div class="row">
	
	<div class="span12">
	{% if page.previous and page.previous.category == page.category %}
	<a class='prev pull-left' href='{{ BASE_PATH }}{{page.previous.url}}'>&larr; vorhergehendes Rezept</a>
	{% endif %}


	{% if page.next and page.next.category == page.category %}
	<a class='next pull-right' href='{{ BASE_PATH }}{{page.next.url}}'>nächstes Rezept &rarr;</a>
	{% endif %}
	</div>
<br /><br /><br /><br /><br />
</div>


<div class="row">
	<div class="span8 non-well right-line">

		



			<div style="padding-left:20px;">
				<h1>{{page.title}}</h1>
				<br />
				<div class="recipe-info"><img class="about" src="{{ ASSET_PATH }}/images/icons/calendar.png" /><small>{{ page.date | date_to_string }}</small><img class="about" src="{{ ASSET_PATH }}/images/icons/author.png" /><small>{{ page.author }}</small></div>
				<br /><br /><br />
				<h2>Zubereitung</h2>
				{{content}}


				<div id="related">
				  <ul class="posts">
				    {% for post in site.related_posts limit:10 %}
						{% if post.category == 'recipe' %}
				      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
						{% endif %}
				    {% endfor %}
				  </ul>
				</div>
				
				<hr />
				<ul class="like-buttons">
		            <li><div id="fb-root"></div>
						<fb:like href="{{ BASE_PATH }}}{{page.url}}" send="true" width="" show_faces="false " action="like" font=""></fb:like></li>
						<li><a href="https://twitter.com/share" class="twitter-share-button" data-via="eaternity" data-lang="de" data-url="{{ BASE_PATH }}}{{page.url}}" >Twittern</a></li>
						<li><g:plusone size="medium" annotation="inline" href="{{site.url}}{{ BASE_PATH }}}{{page.url}}"></g:plusone></li>
				</ul>
				
			</div>

	

		


			
		<div class='follow'>
		    <div class='graph'>
		      <div class='tens'></div>
		      <div class='ones'></div>
		      <div class='mask'></div>
		    </div>
		    <strong class='title'><span class='count'></span> <!-- tweets link to this blog post. --></strong>

		    <!-- <small>Start a conversation with <a target='_blank' href='http://twitter.com/eaternity'>@eaternity</a> on Twitter.</small> -->
		    <div class='tweets'></div>
		</div>

	
	</div>
	
	<div class="span3 info-recipe">
		
		<a href="{{ BASE_PATH }}/recipes/#kitchen2" class="btn btn-inverse">&larr; Zur Rezepte-Küche</a>
		
		<hr />
		
	
		<h3>{{ page.co2-value }} g </h3>CO2-Äquivalent pro Person.<br>
		<hr />
	    <h3>{{ page.season }}</h3>Saison: {{ page.season-date }}<br>

		<div class="double-line">
		<hr />
		<hr />
		</div>
		
		<h3>Zutaten für 4 Personen:</h3>
		</p>
		<ul class="ingredients">
			{% for ingedient in page.zutaten %}
		      <li>{{ ingedient }}</li>
		    {% endfor %}
		</ul>
		

		<div>

		

			
			
			<!-- <ul class="social-media">
				<li></li>
				<li>
					<h5>Comments</h5>
	            <div id="fb-root"></div></script><fb:comments href="{{site.url}}{{ BASE_PATH }}}{{item.url}}" num_posts="2" width="452" href="{{site.url}}{{ BASE_PATH }}}"></fb:comments></li>
			</ul> -->
			
			

			
		</div>
	</div>
	
	
	
	
</div>	

<script type='text/javascript'>
var track = ['{{ BASE_PATH }}'];
$(function() { dso.follow('{{ BASE_PATH }}}{{page.url}}', track) });
</script>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/de_DE/all.js#xfbml=1&appId=178395151751";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<script type="text/javascript">
  window.___gcfg = {lang: 'de'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

