---
layout: default
---
<div class="row">
	<div class="twelve columns">
		<img src="{{site.baseurl}}{{ page.portrait }}" width="940px;">
	</div>
</div>
<div class="row">
	<div class="three columns">

		
		<h5><a href="{{site.baseurl}}/infos/#team" ><!--img src="/eaternity-website/images/recipe_kitchen.jpg" /-->&laquo; Zur Team  Übersicht</a></h5>
		
 	        
		    {% if page.contact %}
			<br><br>
		    <p>Schreibe eine Email an <a href='mailto:{{ page.contact }}'>{{ page.contact }}</a></p>
		    {% endif %}
			

			{% if page.twitter %}
			<br><br>
		    <p>Starte eine Unterhaltung mit <a target='_blank' href='http://twitter.com/{{ page.twitter }}'>@{{ page.twitter }}</a> auf Twitter.</p>
		    {% endif %}
            
            	

    		{% if page.materialien %}
    		<br><br>
    		<p>
    		<h5>Vorträge und Materialien zur Person</h5>
    		</p>
    		<ul>
    			{% for item in page.materialien %}
    		      <li>{{ item }}</li>
    		    {% endfor %}
    		</ul>
    		{% endif %}
			
	</div>
	
	<div class="six columns">
		<div>

		
			<h3>{{page.title}}</h3>
				    <blockquote>"{{ page.comment }}"</blockquote>
			
			{{content}}
	
			
		
			
			

			
		</div>
	</div>
	
	
	
	<div class="three columns">
	    
	    <br>
        <br>
		<div id="related">
		  <h5>Aus unserem Team</h5><br>
		  <ul class="posts block-grid two-up">
		  
		  	{% if page.previous and page.previous.category == page.category %}
  		        <li> 
   			      <img src="{{site.baseurl}}{{ page.previous.square }}" />
   			      &laquo; <a href="{{site.baseurl}}{{ page.previous.url }}">{{ page.previous.title }}</a>
   			    </li>
   			    
  		    {% endif %}
  		    
  		    {% if page.next and page.next.category == page.category %}
      		    <li> 
   			      <img src="{{site.baseurl}}{{ page.next.square }}" />
   			      <a href="{{site.baseurl}}{{ page.next.url }}">{{ page.next.title }}</a> &raquo; 
   			    </li>

  		    {% endif %}
		  
		  
		    
		  </ul>
		</div>
	    
	
	</div>
	
</div>	

<script type='text/javascript'>
var track = ['{{site.url}}{{site.baseurl}}'];
$(function() { dso.follow('{{site.url}}{{site.baseurl}}{{page.url}}', track) });
</script>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/de_DE/all.js#xfbml=1&appId=178395151751";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<script type="text/javascript">
  window.___gcfg = {lang: 'de'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

